@charset "UTF-8";
/* colors */
    :root {
        /*colors primarys */
            --primary: #5872C7;
            --primary-bg: #FFFF;
            --secondary-bg: #e8e9ea;
            --primary-hover:#2040a8;

        /* colors */
            --justblue: #5872C7;
            --justgreen: #6CC559;
            --darkblue: #1e2936;
            --darkgray: #4c4c4c;
            --gray: #b1b2b5;
            --redice: #e8e9ea;
    } 

/* typograph */
    :root {
        --font-family: "Source Sans 3", sans-serif;
        --font-size-xs: 00.75rem;
        --font-size-md: 1rem;
        --font-size-lg: 1.125rem;
        --font-size-xl: 1.25rem;
        --font-size-xxl: 1.5rem;
        --font-size-h3: 2.5rem;
        --font-size-h2:3rem;
        --font-size-h1:4.5rem;
        --font-weight-light: 300;
        --font-weight-regular: 400;
        --font-weight-medium: 600;
        --font-weight-bold: 700;
    }

/* border-radius */
    :root {
        --border-radius-sm: 0.25rem;
        --border-radius-md: 0.5rem;
        --border-radius-lg: 1rem;
    }

  /* Spacing*/
    :root {
        --spacing-xs: 0.25rem;
        --spacing-sm: 0.5rem;
        --spacing-md: 1rem;
        --spacing-lg: 1.5rem;
        --spacing-xl: 2rem;
    }

    /* shadows */
    :root {
        --shadow-color-primary: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    body, html {
        display: flex;
        font-family: var(--font-family);
        max-width: 100%;
        max-height: 100%;
        gap: 0rem;
        padding: 0rem;
        margin: 0rem;
        background-color: white;
    }

/* typography */

    h1, h2, h3, h4, h5, h6, p, .body-light, .body-medium, .small, .caption .nav-link {
        margin: 0;
    }

    h1, h2, h3 {
        color: var(--darkblue);
        font-weight: var(--font-weight-medium);
    }

    h5, h6, p, .body-light, .body-medium, .small, .caption .nav-link{
        color: var(--darkgray);
    }

    h5, h6, .caption {
        font-weight: var(--font-weight-bold);
    }

    h4, p, .small .nav-link {
        font-weight: var(--font-weight-regular);
    }

    p, .body-medium, .body-light {
        font-size: var(--font-size-md);
    }

    .small, .caption {
        font-size: var(--font-size-xs);
    }

    h1 {
        font-size: var(--font-size-h1);
    }

    h2 {
        font-size: var(--font-size-h2);
    }

    h3 {
        font-size: var(--font-size-h3);
    }

    h4 {
        font-size: var(--font-size-xxl);
    }

    h5 {
        font-size: var(--font-size-xl);
    }

    h6 {
        font-size: var(--font-size-xl);
    }

    .body-light {
        font-weight: var(--font-weight-light);
    }

/* links */
    .link {
        text-decoration: none;
    }

    .link:hover {
        color: var(--justblue);
    }

    .nav-link {
        text-decoration: none;
    }

    .nav-link:hover {
        color: var(--primary-hover);
        cursor: pointer;
    }

/* buttons */
    button {
        font-family: var(--font-family);
        font-size: var(--font-size-md);
        padding: var(--spacing-sm) var(--spacing-xl);
        border-radius: var(--border-radius-sm);
        border: 0;
        cursor: pointer;
    }

    button:active {
        box-shadow: var(--shadow-color-primary);
        transform: scale(0.95);
    }

    .button-secondary, .button-outline, .button-tertiary {
        font-weight: var(--font-weight-bold);
    }

    
    /* button primary */
        .button-primary {
            color: white;
            background: var(--primary);
        }

        .button-primary:hover {
            background: var(--primary-hover);
        }
        .button-primary:active {
            background-color: var(--primary-hover);
            
        }
        

    /* button secondary */
        .button-secondary {
            color: var(--primary);
            background: var(--redice);
        }

        .button-secondary:hover {
            background-color: var(--primary);
            color: white;
        }

    .button-outline {
        color: var(--primary);
    }

    .button-outline:hover {
        background: var(--primary);
    }
    /* button tertiary */
        .button-tertiary {
            color: var(--darkgray);
            background: none;
            padding: var(--spacing-sm) var(--spacing-md);
        }

        .button-tertiary:hover {
            color: var(--darkblue);
        }

        .button-tertiary:active {
            box-shadow: none; 
        }


    

/* forms and inputs */

    label, input, textarea {
        font-size: var(--font-size-md);
        font-family: var(--font-family);
        font-weight: var(--font-weight-regular);
        color: var(--darkgray);
        }

    input, textarea {
        width: 100%;
        border: 0.025rem solid var(--gray);
        padding: var(--spacing-sm);
        border-radius: var(--border-radius-sm);
        box-sizing: border-box;
        background: none;
        }

    input:focus, textarea:focus {
        border-color: var(--primary);
        outline: none;
        box-shadow: var(--shadow-color-primary);
        }

    .form-container, .check, .form-group {
        display: flex;
        width: 100vw;
        height: fit-content;
        flex-wrap: nowrap;
        align-content: stretch;
        justify-content: start;
        flex-grow: 1;
        gap: var(--spacing-sm);
    }
    .form-container {
        align-items: start;
        flex-direction: column;
        flex-shrink: 0;
        max-width: 26rem;
        min-width: 17rem;
    }

    .form-group {
        flex-direction: column;
        gap: var(--spacing-lg);
    }

    .check {
        align-items: center;
        align-content: stretch;
        justify-content: start;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .check-box {
        width: 1rem;
        height: 1rem;
    }

    .check-box:before {
        color: #1e2936;
    }


/* modal */

.modal-small-box, .modal-big-box, .modal-box-inner{
    position: relative;
    width: 100%vw;
    height: auto;
    background: black;
    border-radius: var(--border-radius-md);
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 var(--spacing-sm);
    
}

.modal-box-small {
    max-width: 30rem;
    min-width: 19rem;
  }

.modal-box-big {
    max-width: 38rem;
    min-width: 19rem;
    padding: var(--spacing-lg);
  }

.modal-box-inner {
  padding: 0 var(--spacing-md);
  margin: var(--spacing-lg) var(--spacing-md);
}